# Arquivos e pastas gerados pelo Python/Ambiente

venv/
.venv/
env/
.env/
*/venv/
*/.venv/
__pycache__/
*.pyc
*.pyd
*.so
dist/
build/
*.egg-info/
.eggs/
*.log
*.sqlite3
.coverage
.pytest_cache/
frontend/coverage/
frontend/playwright-report/
frontend/test-results/
frontend/blob-report/
.vscode/
.idea/
.env
*.xml
*.iml
node_modules/
*.tar
*.csv
*.xlsx
*/docs/sample_sidi